html {
  height: 100%;
}

body {
  height: 100%;
  background: url(../img/pattern.png) repeat;
  font: normal 1em 'fira_sanslight';
  color: #4a545d;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 970px;
  height: auto !important;
}

.wrapper:after {
  content: '';
  height: 80px;
  display: block;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container:before,
.clearfix:before,
.container:after,
.clearfix:after {
  content: '';
  display: table;
}

.container:after,
.clearfix:after {
  clear: both;
}

.container-big {
  max-width: 1200px;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.page-header {
  height: 119px;
  background: #eff3f7 url('../img/line.png') bottom center no-repeat;
  position: relative;
  margin-bottom: 39px;
}

.page-header .socials {
  position: absolute;
  left: 0;
  top: 36px;
}

.socials {
  margin: 0;
  padding: 0;
  min-width: 260px;
}

.socials .socials-item {
  list-style: none;
  display: inline-block;
  height: 47px;
  width: 47px;
  margin-left: 19px;
}

.socials .socials-item:first-child {
  margin-left: 0;
}

.socials .socials-link {
  display: block;
  height: 100%;
  width: 100%;
  text-indent: -9999px;
}

.socials .socials-link.vk {
  background-image: url('../img/vk.svg');
}

.socials .socials-link.tw {
  background-image: url('../img/tw.svg');
}

.socials .socials-link.fb {
  background-image: url('../img/facebook.svg');
}

.socials .socials-link.gt {
  background-image: url('../img/gihtub.svg');
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts-title {
  background-color: #3ba8c0;
  margin: 0;
  border-radius: 4px 4px 0 0;
  color: #ffffff;
  font-style: normal;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.contacts-link {
  display: block;
  padding-left: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  background-repeat: no-repeat;
  background-position: 40px center;
}

.contacts-link-mail {
  background-color: #41b9d4;
  background-image: url('../img/mail.svg');
}

.contacts-link-phone {
  background-color: #48cbe8;
  background-image: url('../img/phone.svg');
}

.contacts-link-skype {
  background-color: #51daf8;
  background-image: url('../img/skype.svg');
  border-radius: 0 0 4px 4px;
}

.contacts-link:hover {
  text-decoration: underline;
}

.sidebar {
  width: 250px;
  float: left;
}

.navigation {
  overflow: hidden;
  background: #eff3f7;
  border-radius: 4px;
  margin-bottom: 26px;
}

.navigation .navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation .navigation-item {
  border-top: 2px solid #3ba8c0;
  margin: 0 11px;
}

.navigation .navigation-item:first-child {
  border-top: none;
}

.navigation .navigation-item.current {
  background: #3ba8c0;
  margin: 0;
  border: 0;
  border-bottom: noen;
  padding-left: 11px;
  margin-bottom: -2px;
}

.navigation .navigation-item.current .navigation-link {
  color: #f9fafb;
  font-size: 22px;
}

.navigation .navigation-link {
  font-family: 'fira_sansbook';
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #959aa8;
  margin-left: 16px;
  padding: 20px 0px;
}

.navigation .navigation-link:hover {
  color: #3ba8c0;
}

.variable-content {
  width: 650px;
  float: right;
}

.page-footer {
  background: #eff3f7 url(../img/line.png) top center no-repeat;
  font-family: 'fira_sanslight';
  color: #4a545d;
  min-width: 970px;
  height: 80px;
  margin-top: -80px;
}

.page-footer .container {
  padding-top: 23px;
  position: relative;
}

.page-footer .copyright {
  margin: 0 180px;
  padding-top: 7px;
  text-align: center;
  font-size: 13px;
}

.page-footer .lock {
  position: absolute;
  top: 26px;
  left: 20px;
}

.lock .lock-inner {
  display: block;
  height: 40px;
  font-family: 'fira_sanslight';
  font-size: 16px;
  line-height: 2.2;
  color: #4a545d;
  text-decoration: none;
  background: url(../img/lock-close.png) no-repeat;
  padding-left: 24px;
}

.lock .lock-inner:hover {
  text-decoration: underline;
  background: url(../img/lock-open.png) no-repeat;
}
